<div *ngIf="message && visible" class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
  <i *ngIf="type === 'success'" class="bi bi-check-circle-fill me-2"></i>
  <i *ngIf="type === 'danger'" class="bi bi-exclamation-triangle-fill me-2"></i>
  <i *ngIf="type === 'warning'" class="bi bi-exclamation-circle-fill me-2"></i>
  <i *ngIf="type === 'info'" class="bi bi-info-circle-fill me-2"></i>

  {{ message }}

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
    (click)="close()">
  </button>
</div>